name: flutter_subtitle
description:
version: 0.0.1
homepage: https://github.com/shiyiya/flutter_subtitle

environment:
  sdk: '>=2.16.2 <3.0.0'
  flutter: '>=1.17.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
